<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script 
  src="https://kit.fontawesome.com/4da7a940f0.js"
  crossorigin="anonymous"
></script>
  <link rel='stylesheet' href='/stylesheets/show.css' />
  <title>Flight Detail</title>
</head>
<body>
<nav>
  <i class="fas fa-plane-arrival"></i>
  <a 
  href="/meals/new" id="navLink"
  >Add Meal</a>
  <a 
  href="/flights" id="navLink"
  >View Flights</a>
  <a 
  href="/flights/new" id="navLink"
  > Add Flight</a>
</nav>
<main>
  <h1><%= title %></h1>
  <section>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Flight#: </div>
    <div><%= flight.flightNo %></div>
    <div>Depart Date: </div>
    <div><%= flight.departs %></div>
    <div>Carte:</div>
    <ul>
      <% flight.carte.forEach(mealDinner => { %>
        <li><%= mealDinner.name %></li>
      <% }) %>
    </ul>
  </section>
  <form 
  id="add-per-to-meal" 
  action="/flights/<%= flight._id %>/meals"
  method="POST"
  >
    <select name="mealId">
      <% meals.forEach(meal => { %>
        <option value="<%= meal._id %>"><%= meal.name %> </option>
      <% }) %>
    </select>
    <button type="submit">Add to Meals</button>
  </form>
  <h2>Add A Ticket</h2>
  <form 
    id="add-ticket-form"
    action="/flights/<%= flight._id %>/tickets"
    method="POST"
  >
    <label for="content-textarea">Seat:</label>
    <textarea name="seat" id="seat-textarea">A1-F99</textarea>
    <label for="price-textarea">Price:</label>
    <textarea name="price" id="price-textarea"></textarea>
    <button type="submit">Add Ticket</button>
  </form>
  <% if (flight.tickets.length) { %> 
    <table>
      <thead>
        <h2>Purchased Tickets</h2>
        <tr>
          <th>Seat</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <% flight.tickets.forEach(function(ticket) { %> 
          <tr>
            <td><%= ticket.seat %> </td>
            <td><%= ticket.price %> </td>
          </tr>
        <% }) %> 
      </tbody>
    </table>
  <% } else { %>
    <h3>No Tickets Has Been Purchased</h3> 
  <% } %> 
</main>
</body>
</html>